/**
 * @file
 * Views Tabs
 *
 * Filename:     vvjs-1200.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
@media (min-width:75rem) {
  .vvjs.br-1200.arrows-sides-big .vvjs-items,
  .vvjs.br-1200.arrows-sides-big .nav-dots-numbers,
  .vvjs.br-1200.hero-slideshow.arrows-sides-big .vvjs-item .vvjs-hero-image img {
    width: calc(100% - 100px) !important;
    margin-inline-end: 50px !important;
    margin-inline-start: 50px !important;
  }

  .vvjs.br-1200.arrows-sides-big .slide-indicators button {
    opacity: 0.8;
  }

  .vvjs.br-1200.hero-slideshow.arrows-sides-big .vvjs-inner > .nav-dots-numbers {
    left: 50px !important;
    margin: 0!important;
  }

}

@media (max-width:74.99875rem) {
  html .vvjs.br-1200.arrows-top-big .slide-indicators,
  html .vvjs.br-1200.arrows-sides-big .slide-indicators {
    display: none !important;
  }
  html .vvjs.br-1200.arrows-top-big .slide-indicators button,
  html .vvjs.br-1200.arrows-sides-big .slide-indicators button {
    pointer-events: none !important;
  }
}
