/**
 * @file
 * Views Tabs
 *
 * Filename:     vvjs-hero-1200.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
@media (min-width:75rem) {
  .vvjs.br-1200.hero-slideshow .vvjs-items {
    max-width: calc(var(--hero-max-width, 1200) * 1px);
    min-height: calc(var(--hero-min-height, 40) * 1vw);
  }

  .vvjs.br-1200.hero-slideshow .vvjs-items .vvjs-item,
  .vvjs.br-1200.hero-slideshow .vvjs-items .vvjs-item .vvjs-item-inner {
    width: 100%;
    height: 100%;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-items .vvjs-hero-content {
    width: calc(var(--hero-content-width, 30) * 1%);
  }

  .vvjs.br-1200.hero-slideshow .nav-dots-numbers {
    position: absolute;
    width: 100%;
    min-height: 70px;
    display: flex;
    bottom: -70px;
    left: 0;
    right: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-items {
    margin-block-end: 70px;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-item {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-item {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 1rem;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content {
    margin: 0;
    padding: 1rem;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-item .vvjs-hero-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-block-end: 50px;
  }

  /* Display Container */
  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-top-left {
    position: absolute;
    left: 0;
    top: 0;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-top-right {
    position: absolute;
    right: 0;
    top: 0;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%!important;
    height: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-top-middle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content.d-bottom-middle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  }

}

@media (max-width:74.99875rem) {
  .vvjs.br-1200.hero-slideshow .vvjs-item {
    width: 100%;
    margin-block-end: 1rem;
    min-height: initial !important;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-content {
    background-color: transparent !important;
    max-width: 100% !important;
    width: 100%;
    margin-block-start: 1rem;
    transition: none !important;
  }

  .vvjs.br-1200.hero-slideshow .vvjs-hero-image {
    overflow: hidden;
  }


}
