/**
 * @file
 * Views Vanilla Javascript Slideshow.
 *
 * Filename:     vvjs-style.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.vvjs .nav-dots-numbers.numbers > .active {
  font-weight: bold;
  text-decoration: underline;
}

.vvjs .nav-dots-numbers.numbers .dots-numbers-button.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

@media (min-width:36rem) {
  .vvjs.hero-slideshow.br-576 .nav-dots-numbers {
    background-color: black;
  }

}

@media (min-width:48rem) {
  .vvjs.hero-slideshow.br-768 .nav-dots-numbers {
    background-color: black;
  }

}

@media (min-width:62rem) {
  .vvjs.hero-slideshow.br-992 .nav-dots-numbers {
    background-color: black;
  }

}

@media (min-width:75rem) {
  .vvjs.hero-slideshow.br-1200 .nav-dots-numbers {
    background-color: black;
  }

}

@media (min-width:87.5rem) {
  .vvjs.hero-slideshow.br-1400 .nav-dots-numbers {
    background-color: black;
  }

}
